<link rel="stylesheet" href="/css/_header.css" />

<% if(locals.user) {%>
<!-- <li>
    <a href="/users/profile"><%= user.first_name %> <%= user.last_name %></a>
  </li>
  <li>
    <a href="/users/sign-out">Sign Out</a>
  </li> -->
<header id="header">
  <div class="logo">
    <a href="#">
      <h3>Gliadatista <br /><span>Consulting</span></h3>
    </a>
  </div>

  <div id="toggle"></div>
  <div class="navbar" id="navbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/#AboutUs">AboutUs</a>
      </li>
      <li>
        <a href="/#Industries">Industries</a>
      </li>
      <li>
        <a href="/#Services">Services</a>
      </li>
      <li>
        <a href="/users/register/<%= user.id %>">Register</a>
      </li>
      <li>
        <a href="/users/profile/<%= user.id %>">My Profile</a>
      </li>
      <li>
        <a href="/users/my-course/<%= user.id %>">My Courses</a>
      </li>
      <li>
        <a href="#Contacts">Contacts</a>
      </li>
      <li>
        <a href="/users/sign-out">SignOut</a>
      </li>
    </ul>
  </div>
</header>
<% }else {%>
<!-- <li>
    <a href="/users/sign-in">Sign In</a>
  </li>
  <li>
    <a href="/users/sign-up">Sign Up</a>
  </li> -->

<header id="header">
  <div class="logo">
    <a href="#">
      <h3>Gliadatista <br /><span>Consulting</span></h3>
    </a>
  </div>

  <div id="toggle"></div>
  <div class="navbar" id="navbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">AboutUs</a>
      </li>
      <li>
        <a href="/#Industries">Industries</a>
      </li>
      <li>
        <a href="/#Services">Services</a>
      </li>
      <li>
        <a href="/users/sign-in">SignIn</a>
      </li>
      <li>
        <a href="/users/sign-up">SignUp</a>
      </li>
      <li>
        <a href="/#Contacts">Contacts</a>
      </li>
    </ul>
  </div>
</header>

<% } %>

<script>
  const header = document.getElementById("header");
  const toggle = document.getElementById("toggle");
  const navbar = document.getElementById("navbar");

  document.onclick = function (e) {
    if (
      e.target.id !== "header" &&
      e.target.id !== "toggle" &&
      e.target.id !== "toggle"
    ) {
      toggle.classList.remove("active");
      navbar.classList.remove("active");
    }
  };

  toggle.onclick = function () {
    toggle.classList.toggle("active");
    navbar.classList.toggle("active");
  };
</script>
