<link rel="stylesheet" href="/css/checkout.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="checkout-body">
  <section class="checkout container">
    <h1>Checkout</h1>

    <form action="/payments/checkout/<%= profile_user._id %>" method="post">
      <div class="user-details">
        <p>User Name : <span><%= profile_user.name %></span></p>
        <p>User Name : <span><%= profile_user.email %></span></p>
      </div>

      <div class="service-info">
        <p>Service selected : <span><%= selected_service %></span></p>
        <p>Price : <span><%= price %></span></p>
      </div>

      <div class="terms-checkbox">
        <input type="checkbox" id="terms" name="terms" required />
        <label for="terms">I agree to the terms and conditions</label>
      </div>

      <!-- Payment button -->
      <div class="submit">
        <button id="rzp-button1">Pay</button>
      </div>
    </form>
  </section>
</div>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  // import axios from "axios";
  // const axios = require("axios");
  // var options = {
  //   key: "rzp_test_t5oFDruF5oObDd", // Enter the Key ID generated from the Dashboard
  //   amount: "300", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
  //   currency: "INR",
  //   name: "Acme Corp",
  //   description: "Test Transaction",
  //   image: "https://example.com/your_logo",
  //   order_id: "order_MGy3ovF4mg2FP6", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
  //   handler: function (response) {
  //     alert(response.razorpay_payment_id);
  //     alert(response.razorpay_order_id);
  //     alert(response.razorpay_signature);
  //   },
  //   prefill: {
  //     name: "Gaurav Kumar",
  //     email: "gaurav.kumar@example.com",
  //     contact: "9000090000",
  //   },
  //   notes: {
  //     address: "Razorpay Corporate Office",
  //   },
  //   theme: {
  //     color: "#3399cc",
  //   },
  // };
  // var rzp1 = new Razorpay(options);
  // rzp1.on("payment.failed", function (response) {
  //   alert(response.error.code);
  //   alert(response.error.description);
  //   alert(response.error.source);
  //   alert(response.error.step);
  //   alert(response.error.reason);
  //   alert(response.error.metadata.order_id);
  //   alert(response.error.metadata.payment_id);
  // });
  // document.getElementById("rzp-button1").onclick = function (e) {
  //   e.preventDefault();
  //   rzp1.open();
  //   handleClick();
  // };

  async function handleClick() {
    // Check if the checkbox is checked
    const termsCheckbox = document.getElementById("terms");
    if (!termsCheckbox.checked) {
      alert(
        "Please agree to the terms and conditions before making the payment."
      );
      return;
    }
    // create api integration
    let orderId = "GC" + Math.floor(Math.random() * Math.floor(Date.now()));

    const res = await loadScript(
      "https://checkout.razorpay.com/v1/checkout.js"
    );
    if (!res) {
      alert("Razorpay SDK failed to load. Are you online?");
      return;
    }
    let paymentRes = {
      order_id: orderId,
      amount: "<%= price %>",
      currency: "INR",
      payment_capture: 1,
    };
    console.log(paymentRes);

    let result = await axios.post(
      "http://localhost:8001/payments/create",
      paymentRes
    );
    console.log("----result->", result);

    // call card-detail api from backend
    if (!result.data.data) {
      alert("Server error. Are You Online?");
      return;
    } else {
      let options = {
        key: "rzp_test_t5oFDruF5oObDd",
        amount: result.data.data.amount * 100,
        currency: result.data.data.currency,
        name: "Gliadalista Consulting",
        description: "Test Transection",
        image: "image.png ",
        order_id: result.data.data.id,
        handler: async function (response) {
          // const result = await GetOrderDetails.getPAymentOrderList(
          //   response.razorpay.payment_id
          // );
          console.log("---response--->", response);

          const result2 = await axios.post(
            "http://localhost:8001/payments/verify",
            response
          );
          console.log("--result-->", result);
          console.log("--result-->", result2);
          // if (result) {
          //   const finalList = {
          //     orderId: orderId,
          //     payment: result.data.method,
          //     addressId: newCart.shippingPrice,
          //     total: result.data.amount / 100,
          //     cart: newCart.cart,
          //     status: result.data.status,
          //     razorpay_pament_id: response.razorpay_payment_id,
          //     razorpay_order_id: response.razorpay_order_id,
          //   };
          // }
        },

        prefill: {
          name: "<%= profile_user.name %>",
          email: "<%= profile_user.email %>",
          contact: "<%= profile_user.phone_number %>",
        },
        notes: {
          address: "Razorpay Corporate Office",
        },
        theme: {
          color: "#3399cc",
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.open();

      rzp1.on("payment.failed", function (response) {
        // alert(response.error.code);
        // alert(response.error.description);
        // alert(response.error.source);
        // alert(response.error.step);
        // alert(response.error.reason);
        // alert(response.error.metadata.order_id);
        // alert(response.error.metadata.payment_id);
      });
    }
  }
  document.getElementById("rzp-button1").onclick = function (e) {
    e.preventDefault();
    handleClick();
  };

  // Function to load external scripts
  const loadScript = (src) => {
    return new Promise((resolve) => {
      const script = document.createElement("script");
      script.src = src;
      script.onload = () => {
        resolve(true);
      };
      script.onerror = () => {
        resolve(false);
      };
      document.body.appendChild(script);
    });
  };
</script>
