<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <%- style %>
  </head>
  <body>
    <div class="header"><%- include('_header')%></div>
    <div class="variable"><%- body %></div>
    <div class="footer"><%- include('_footer')%></div>
    <%- script %>
  </body>
</html>
