<link rel="stylesheet" href="/css/user_register.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<section class="register container">
  <form id="paymentForm" method="post">
    <h1>Registration</h1>

    <div class="input-box">
      <label for="name">Full Name</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter your full name"
        value="<%= profile_user.name %>"
        required
      />
    </div>
    <div class="input-box">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
        value="<%= profile_user.email %>"
        required
      />
    </div>
    <div class="column">
      <div class="input-box">
        <label for="phone_number">Phone Number</label>
        <input
          type="tel"
          name="phone_number"
          id="date_of_birth"
          placeholder="Enter your phone number"
          value="<%= profile_user.phone_number %>"
          required
        />
      </div>
      <div class="input-box">
        <label for="date_of_birth">Date Of Birth</label>
        <input
          type="date"
          name="date_of_birth"
          id="date_of_birth"
          value="<%= profile_user.date_of_birth ? profile_user.date_of_birth.toISOString().split('T')[0] : '' %>"
          required
        />
      </div>
    </div>
    <div class="gender-box">
      <h3>Gender</h3>
      <div class="gender-option">
        <div class="gender">
          <input type="radio" name="gender" value="Male" id="male" checked />
          <label for="male">Male</label>
        </div>
        <div class="gender">
          <input type="radio" name="gender" id="female" />
          <label for="female">Female</label>
        </div>
        <div class="gender">
          <input type="radio" name="gender" id="prefer not to say" />
          <label for="prefer not to say">Prefer not to say</label>
        </div>
      </div>
    </div>
    <div class="address input-box">
      <div class="column">
        <div class="select-box">
          <select name="country">
            <option hidden><%= profile_user.country %></option>
            <option value="India">India</option>
            <option value="America">America</option>
            <option value="Germany">Germany</option>
            <option value="Canada">Canada</option>
          </select>
        </div>
        <input
          type="text"
          name="postal_code"
          id=""
          placeholder="Enter Postal Code "
          value="<%= profile_user.postal_code %>"
        />
      </div>
      <input
        type="text"
        name="city"
        id=""
        placeholder="Enter your city"
        value="<%= profile_user.city %>"
      />
    </div>

    <div class="column">
      <div class="select-box full">
        <select name="Service_selected" id="serviceSelectedField">
          <option hidden>Service want to avail</option>
          <optgroup label="Consultancy">
            <option value="Service1">Service 1</option>
            <option value="Service2">Service 2</option>
            <option value="Service3">Service 3</option>
          </optgroup>
          <optgroup label="Training">
            <option value="Training1">Training 1</option>
            <option value="Training2">Training 2</option>
            <option value="Training3">Training 3</option>
          </optgroup>
          <optgroup label="Corporate Guide">
            <option value="Guide1">Guide 1</option>
            <option value="Guide2">Guide 2</option>
            <option value="Guide3">Guide 3</option>
          </optgroup>
          <optgroup label="Guidance">
            <option value="Guidance1">Guidance 1</option>
            <option value="Guidance2">Guidance 2</option>
            <option value="Guidance3">Guidance 3</option>
          </optgroup>
        </select>
      </div>
      <div class="price input-box">
        <input type="number" id="priceField" name="price" required />
      </div>
    </div>
    <div class="submit">
      <button id="rzp-button1">Submit</button>
    </div>
  </form>
</section>
<script>
  document
    .getElementById("rzp-button1")
    .addEventListener("click", function (event) {
      event.preventDefault();

      // Get the selected service and price values
      const selectedService = document.getElementById(
        "serviceSelectedField"
      ).value;
      const price = document.getElementById("priceField").value;

      // Set the action URL of the form with the selected values
      const form = document.getElementById("paymentForm");
      form.action = `/payments/checkout/<%= user.id %>?service_selected=${selectedService}&price=${price}`;

      // Submit the form
      form.submit();
    });
</script>
